@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Averta";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        unicode-range: U+000-5FF;
        src: local("Averta"), url("/fonts/averta/TW-Averta-Regular.woff2") format("woff2");
    }

    @font-face {
        font-family: "Averta";
        font-weight: 600;
        unicode-range: U+000-5FF;
        src: local("Averta"), url("/fonts/averta/TW-Averta-Semibold.woff2") format("woff2");
    }

    @font-face {
        font-family: "Averta";
        font-weight: 700;
        unicode-range: U+000-5FF;
        src: local("Averta"), url("/fonts/averta/TW-Averta-Bold.woff2") format("woff2");
    }

    ol, ul {
        @apply mx-6 pb-9
    }

    h1, h2, h3, h4,
    .h1, .h2, .h3, .h4 {
        @apply text-primary font-semibold m-0 tracking-normal
    }

    h4 {
        @apply md:text-md text-base
    }

    .content a {
        @apply text-accent font-semibold underline bg-transparent
    }

    p {
        @apply text-secondary
    }
}

@layer components {
    .block-title {
        @apply font-bold mb-2 md:text-title-big text-title-small tracking-normal
    }

    .two-col-section {
        @apply grid grid-cols-1fr grid-rows-auto-fr items-center lg:grid-cols-1/2 lg:grid-rows-1fr
    }
    .two-col-section-img {
        @apply bg-cover bg-center bg-no-repeat w-full h-80 lg:h-full
    }
    .two-col-section-content {
        @apply flex flex-col items-center justify-center pt-10 px-6 pb-14 lg:p-14
    }

    .footer-title {
        @apply mb-4 font-semibold
    }
    .footer-link {
        @apply underline
    }
}
